*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.menu {
    height: fit-content;
    /* background-color: black; */
}
.logo {
    align-items: flex-start;
}
nav {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 7%;
    padding-left: 0%;
    width: 100vw;
}
ul, li {
    list-style: none;
    display: inline-flex;
    padding: 20px 29px;
}
nav, li, a {
    text-decoration: none;
    text-transform: capitalize;
    color: deeppink;
    font-size: large;
    font-weight: bold;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.postimg.cc/J4xKGnBJ/nike-mercurial-superfly-8-dreamspeed-elite.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content {
    padding-left: 150px;
    padding-top: 150px;
}